$white : white;
$black : #383838;

$primaryColor : #EAD89E;
$secondaryColor: #BFA269;

$primaryFont: 'Fira Sans';
$secondaryFont: 'Artifika';

$mq-small: 480px;
$mq-mobile: 728px;
$mq-tablet: 1024px;
$mq-desktop: 1200px;